.container-padding { 
    padding: 20vh 12vw;
}
.custom_button{
    border-radius: 25px;
    background-color: #00d3b5;
    color: white;
    max-height: max-content;
    max-width: max-content;
    padding: 8px;
    font-size: 24px;
    display: block;
    box-shadow: 5px 1px 13px -8px #00d3b5;
}
.custom_button_large:hover{
    color:white;
}

.custom_button_large {
    padding: 2px 12px;
    line-height: 1.4;
}

.text_font_bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.text_font_bold_2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.custom_link{
    color:black !important;
}

.article_title{
    margin-bottom: 20vh;
}

main article:nth-child(2n+1) {

    background: white;
}
main article:nth-child(2n) {
    background: #f6f6f6;
}

#navBarContain{
    box-shadow: 0px 2px 20px -16px rgb(0 0 0 / 67%);
}
.link_learn_more{
    color:#00d3b5;
    text-decoration: none;
}

a.link_learn_more:active, .link_learn_more:hover{
    color:#00d3b5;
    text-decoration:underline;
}

.figure_card{
    width: 80px;
    border-radius: 50%!important;

}
.card_quote{
    -webkit-box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px -4px rgba(0,0,0,0.75);
}
.text_grey{
    color:grey;
}

blockquote{
    font-style: italic;
}

.list_check:before { 
    content: '\2713'; margin-left: -20px; margin-right: 10px; 
    color: #93c951;
    font-size: 20px;
} 
.list_check { 
    list-style: none;
} 


@font-face {
    font-family: 'icomoon';
    src:  url('../assets/fonts/icomoon/fonts/icomoon.eot?10si43');
    src:  url('../assets/fonts/icomoon/fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/fonts/icomoon.ttf?10si43') format('truetype'),
    url('../assets/fonts/icomoon/fonts/icomoon.woff?10si43') format('woff'),
    url('../assets/fonts/icomoon/fonts/icomoon.svg?10si43#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ../assets/fonts/icomoon/fonts/icomoon.eot */

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-refresh:before {
    content: "\f021";
}
.icon-settings_backup_restore:before {
    content: "\e8ba";
}
.icon-store_mall_directory:before {
    content: "\e563";
}
.icon-shopping_basket:before {
    content: "\e8cb";
}
.icon-sentiment_satisfied:before {
    content: "\e813";
}
.icon-power:before {
    content: "\e63c";
}
.icon-check:before {
    content: "\f00c";
}